!etc/flapjack/recipients.yaml
*.DS_STORE
*.gem
*.rbc
*.swp
*~
.#*
.DS_Store
.bundle
.bzr
.bzrignore
.cache
.config
InstalledFiles
_site/
build/
coverage
features/support/etc/netsaint/*
features/support/tmp/*
gems/bin/*
gems/gems/*
gems/specifications/*
lib/bundler/man
pkg
rdoc
recipients.yaml
spec/reports
spec/test.db
test/tmp
test/version_tmp
tmp

# YARD artifacts
.yardoc
_yardoc
doc/
