<h1> Documentation </h1>

2.x is under heavy development... The latest stable release is in the 1.x series.

<% %w(usage development).each do |section| %>

  <%="<h4> #{section.capitalize} </h4>"%>

  <ul>
    <% Dir[File.dirname(__FILE__) + "/#{section}/*.md"].map {|f| File.basename(f, '.md')}.sort.each do |filename| %>
      <% pagename = filename.split(/-|_/).join(' ').capitalize %>
      <li><a href=<%="#{section}/#{filename}"%>><%="#{pagename}"%></a></li>
    <% end %>
  </ul>

<% end %>
