<h1>Welcome to the Flapjack Wiki.</h1>

<% %w(usage development).each do |section| %>

  <%="<h2> #{section.capitalize} </h2>"%>

  <% Dir[File.dirname(__FILE__) + "/#{section}/*"].map {|f| File.basename(f, '.md') }.sort.each do |filename| %>
    <% pagename = filename.split(/-|_/).join(' ').capitalize %>
    <li><a href=<%="../#{section}/#{filename}"%>><%="#{pagename}"%></a></li>
  <% end %>

<% end %>
