---
title: Flapjack API Reference
layout: api
version: 2.0

language_tabs:
  - shell: cURL
  - ruby: Ruby

---

<%
require 'forwardable'
require 'swagger'
require 'erb'

@swagger_dir = File.join(File.dirname(__FILE__), '..', '..', '..', '..', 'lib', 'swagger')

@swagger = Swagger.load(File.join(@swagger_dir, 'api.json'))

def swagger_method(method_type, path, loc = {})
  return '' unless @swagger.paths.key?(path) &&
                   @swagger.paths[path].key?(method_type)

  o = render_partial('sections/jsonapi_method.html.erb', :locals => loc.merge(
    :method_type => method_type,
    :path        => path,
    :operation   => @swagger.paths[path].send(method_type),
    :definitions => @swagger.definitions
  ))
  o << "\n\n"
  o
end

resources = Flapjack::Diner::Configuration::RESOURCES.values.map {|r| r[:resource] }

Flapjack::Diner::Configuration::RESOURCES.each_pair do |resource, res|
%>
<h1 id="title_<%= resource %>"><%= resource %></h1>
<%
  single = res[:resource]

  loc = {
    :resource_plural   => resource,
    :resource_singular => single,
    :uuid_1            => SecureRandom.uuid,
    :uuid_2            => SecureRandom.uuid
  }

  output = ''

  path        = "/#{resource}"
  single_path = "/#{resource}/{#{single}_id}"

  related = res[:relationships]

  reqs = res[:requests]
  rels = res[:relationships]

  reqs.keys.each do |method_type|
    unless :post.eql?(method_type)
      # FIXME enable this, munge the swagger req data for POST multiples so docs make sense
      output << swagger_method(method_type, single_path, loc)
    end

    output << swagger_method(method_type, path, loc)
  end

  unless rels.nil?
    rels.each_pair do |other_resource, other_def|
      next unless other_def.key?(:link) && other_def[:link]

      [:post, :get, :patch, :delete].each do |method_type|
        next unless other_def.key?(method_type) && other_def[method_type]
        link_path = :get.eql?(method_type) ?
                      "/#{resource}/{#{single}_id}/#{other_resource}" :
                      "/#{resource}/{#{single}_id}/relationships/#{other_resource}"
        output << swagger_method(method_type, link_path, loc)
      end
    end
  end
%>
<%= output %>
<%
end
%>
