---
title: Flapjack API Reference
layout: api
version: 2.0

language_tabs:
  - shell
  - ruby

---

<%
swagger_dir = File.join(File.dirname(__FILE__), '..', '..', '..', '..', 'lib', 'swagger')

require File.join(swagger_dir, 'swag_html.rb')

swag_html = SwagHTML.new

resources = {
  'checks'   => 'check',
  'contacts' => 'contact',
  'media'    => 'medium',
  'rules'    => 'rule',
  'scheduled_maintenances' => 'scheduled_maintenance',
  'tags'     => 'tag',
  'unscheduled_maintenances' => 'unscheduled_maintenances'
}
resources.each_pair do |resource, single|
%>
<h1 id="title_<%= resource %>"><%= resource %></h1>
<%
output = ""

path        = "/#{resource}"
single_path = "/#{resource}/{#{single}_id}"

other_resources = (resources.values - [single]) +
  (resources.keys - [resource])

[:post, :get, :patch, :delete].each do |method_type|
  unless :post.eql?(method_type)
    output << swag_html.swagger_method(method_type, single_path)
  end

  output << swag_html.swagger_method(method_type, path)

  other_resources.each do |other_resource|
    link_path = :get.eql?(method_type) ? "/#{resource}/{#{single}_id}/#{other_resource}" :
                                         "/#{resource}/{#{single}_id}/links/#{other_resource}"

    output << swag_html.swagger_method(method_type, link_path)
  end
end
%>
<%= output %>
<% end %>
