<footer>
<div class="row">
<div class="col-md-4 col-md-offset-2">
  Flapjack was conceptualised by
  <a href="https://twitter.com/auxesis">Lindsay Holmwood</a>.
  <a href="https://twitter.com/jessereynolds">Jesse Reynolds</a> and
  <a href="https://github.com/ali-graham">Ali Graham</a>
  are the primary developers.
  View the project on <a href="https://github.com/flapjack/flapjack">GitHub</a>.
</div>
<div class="col-md-4 sponsor">
  <a href="http://bulletproof.net.au" target="_bulletproof">
    <img class="bulletproof" src='/images/bulletproof-logo.png'/>
  </a>
  <span class="bulletproof subtext">
    Development sponsored by
    <a href="http://bulletproof.net.au" target="_bulletproof">Bulletproof</a>.
  </span>
</div>
</div>
</footer>

<script type="text/javascript">
  var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
  document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
  try {
    var pageTracker = _gat._getTracker("UA-388962-5");
    pageTracker._trackPageview();
  } catch(err) {}
</script>
