<head>
  <title>Flapjack, monitoring notification routing + event processing</title>
  <link rel='stylesheet' href='/stylesheets/bootstrap.min.css'/>
  <link rel="stylesheet" href="/stylesheets/api-screen.css" type="text/css" media="screen" />
  <link rel="stylesheet" href="/stylesheets/api-syntax.css" type="text/css" media="screen" />
  <link rel="shortcut icon" href="/images/flapjack-2013-favicon-64-32-24-16.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <nav class="navbar navbar-default navbar-inverse" role="navigation">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">
        <img class="logo" src="/images/flapjack-2013-notext-transparent-300-300.png"/>
        <span class="name">Flapjack</span>
      </a>
    </div>
    <div class="collapse navbar-collapse navbar-ex1-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/docs/<%= default_version %>/quickstart">Quickstart</a></li>
        <li><a href="/docs">Documentation</a></li>
        <li><a href="/support">Support</a></li>
      </ul>
    </div>
  </nav>
